/*
html { 
    min-height:100%;
    position:relative;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}
*/

body {
    background-color:#fafffa; 
    font-family:'Open Sans';
    margin: 30px auto 100px auto; 
    width: 1000px;
    /* min-height:100%; */
    position:relative;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
}

/* header */
.overviewheader {
    overflow: visible;
    font-family: 'Arial', 'KaiTi';
}
.mynamediv {
    position: left;
}
.myphoto {
    float: right;
}

.sitetitle {
    font-size: 1.7em;
    padding-left: 10px; /* Hack to dodge :hover issue. */
    position: relative; /* Hack to dodge :hover issue. */
    left: -10px; /* Hack to dodge :hover issue. */
}

ol li {
    margin-bottom: 0.5em;
}

ul li {
    margin-bottom: 0.5em;
}

.posttitle {
    font-size: 1.5em;
    color: royalblue;    
}

.posttitle a {
    position: relative; /* Hack to dodge :hover issue. */
}

.post {
    margin-top: 1.0em;
    margin-left: 20px;    
    margin-bottom: 1.0em;
}